
Snowmire/.vs/Snowmire/config/applicationhost.config
Snowmire/.vs/Snowmire/FileContentIndex/f41b69d1-9610-4038-8cc2-edaee5157f23.vsidx
Snowmire/.vs/Snowmire/v17/.suo
Snowmire/MyAccount/bin/MyAccount.dll
Snowmire/MyAccount/bin/MyAccount.dll.config
Snowmire/MyAccount/bin/MyAccount.pdb
Snowmire/MyAccount/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Snowmire/MyAccount/obj/Debug/MyAccount.csproj.AssemblyReference.cache
Snowmire/MyAccount/obj/Debug/MyAccount.csproj.CoreCompileInputs.cache
Snowmire/MyAccount/obj/Debug/MyAccount.csproj.FileListAbsolute.txt
Snowmire/MyAccount/obj/Debug/MyAccount.csproj.GenerateResource.cache
Snowmire/MyAccount/obj/Debug/MyAccount.dll
Snowmire/MyAccount/obj/Debug/MyAccount.Migrations.AddHeartbeat.resources
Snowmire/MyAccount/obj/Debug/MyAccount.Migrations.addToken.resources
Snowmire/MyAccount/obj/Debug/MyAccount.Migrations.email.resources
Snowmire/MyAccount/obj/Debug/MyAccount.Migrations.HeartbeatNullable.resources
Snowmire/MyAccount/obj/Debug/MyAccount.Migrations.InitialMigration.resources
Snowmire/MyAccount/obj/Debug/MyAccount.Migrations.TestTablesRename.resources
Snowmire/MyAccount/obj/Debug/MyAccount.Migrations.UserGameInfo.resources
Snowmire/MyAccount/obj/Debug/MyAccount.pdb
Snowmire/SnowmireMVC/bin/EntityFramework.dll
Snowmire/SnowmireMVC/bin/EntityFramework.SqlServer.dll
Snowmire/SnowmireMVC/bin/EntityFramework.SqlServer.xml
Snowmire/SnowmireMVC/bin/EntityFramework.xml
Snowmire/SnowmireMVC/bin/MyAccount.dll
Snowmire/SnowmireMVC/bin/MyAccount.dll.config
Snowmire/SnowmireMVC/bin/MyAccount.pdb
Snowmire/SnowmireMVC/bin/SnowmireMVC.dll
Snowmire/SnowmireMVC/bin/SnowmireMVC.dll.config
Snowmire/SnowmireMVC/bin/SnowmireMVC.pdb
Snowmire/SnowmireMVC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Snowmire/SnowmireMVC/obj/Debug/SnowmireMVC.csproj.AssemblyReference.cache
Snowmire/SnowmireMVC/obj/Debug/SnowmireMVC.csproj.CoreCompileInputs.cache
Snowmire/SnowmireMVC/obj/Debug/SnowmireMVC.csproj.FileListAbsolute.txt
Snowmire/SnowmireMVC/obj/Debug/SnowmireMVC.dll
Snowmire/SnowmireMVC/obj/Debug/SnowmireMVC.pdb
