<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark bg-opacity-50 border-4 border-dark text-light">
            <div class="modal-header border-dark">
                <h5 class="modal-title fw-bolder text-center" id="exampleModalLabel">Details</h5>
            </div>
            <div class="modal-body text-center" id="modalBody">
                <p>Ask Andrei</p>
            </div>
        </div>
    </div>
</div>