<div class="modal fade" data-bs-backdrop="false" id="raccsInfoModal" tabindex="-1" aria-labelledby="raccsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark bg-opacity-75 border-2 border-light text-light">
            <div class="modal-header border-danger border-bottom-0 flex-column-reverse">
                <h5 class="modal-title fw-bolder" id="raccsModalLabel">Raccoon meme for Andreea ❤️</h5>
                <button type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body text-center" id="raccsModalBody">
                <img id="Andreea" src="" style="width:300px; height:300px;" class="visually-hidden justify-content-center" />
            </div>
        </div>
    </div>
</div>