
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main class="d-flex flex-column flex-shrink-0">
        <section class="py-5">
            <div class="container px-5">
                <div class="bg-dark rounded-3 py-5 px-4 px-md-5 mb-5 bg-opacity-25">
                    <div id="discordLogo" class="col-2 fw-bolder py-3 px-2 px-md-5 rounded-3 bg-light bg-opacity-10">
                        <div class="row">Reach out to me on discord for any questions:</div>
                        <a href="https://discordapp.com/users/198878609484677121" target="_blank"><img src="~/Content/Discord-Logo-Color.svg" /></a>
                    </div>
                    <div class="text-center mb-5">
                        <a href="https://snowmireawscdn.s3.eu-central-1.amazonaws.com/BUILD+1-24-2020.zip" target="_blank"><img class="bg-dark bg-opacity-50 border border-dark px-2 rounded-3 mb-2" src="https://img.icons8.com/fluency/100/000000/download.png" /></a>
                        <h1 class="fw-bolder">Download a demo</h1>
                        <p class="lead fw-bolder mb-0 text-warning">Disclaimer:</p>
                        <p class="lead mb-0 text-warning">The file you are about to download is a .zip file and it contains the game files and executable.</p>
                        <p class="lead mb-0 text-warning">If for any reason the file does not behave as expected, please let me know.</p>

                        <h3 class=" mb-0 text-start text-dark">
                            <b class="float-start">Notes:</b>  <br />
                            - Keys 1, 2, 3, 4 activate your abilities. <b class="text-danger">Important!</b><br />
                            - All the portals lead to the same map. (the maps for the other portals do exist, but I decided not to include them in the demo)<br />
                            - Vendors do not work, you can not buy items yet.<br />
                            - I am experimenting and learning a lot of things outside of the project in the demo and at some point I will enhance the 
                            main game with the new features I've been playing with.<br />
                            <div class="text-danger">- If you wish to quit the game, use ALT + F4</div>
                        </h3>
                    </div>
                </div>
            </div>
        </section>
    </main>


