<!DOCTYPE html>
<html lang="en">
<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->

        <!-- Page content-->
        <section class="py-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5 bg-opacity-10">
                    <div id="discordLogo" class="col-2 fw-bolder py-3 px-2 px-md-5 rounded-3 bg-light bg-opacity-10">
                        <div>you could also reach out to me on discord: </div>
                        <a href="https://discordapp.com/users/198878609484677121" target="_blank"><img src="~/Content/Discord-Logo-Color.svg" /></a>
                    </div>
                    <div class="text-center mb-5">
                        <img class="bg-light bg-opacity-25 border border-dark px-2 rounded-3 mb-2"src="https://img.icons8.com/fluency/100/000000/secured-letter.png" />
                        <h1 class="fw-bolder">Get in touch</h1>
                        @*<p class="lead fw-normal mb-0">I'd love to hear from you</p>*@
                        <p class="lead fw-normal mb-0">Not yet functional</p>
                    </div>
                    <div class="container-fluid">
                        <div class="row justify-content-center text-center">
                            <form id="contactForm" class="col-md-3" data-sb-form-api-token="API_TOKEN">
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                    <label for="name">Full name</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>
                                <div class="form-floating mb-3 d-block">
                                    <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                    <label for="email">Email address</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                                </div>
                                <div class="form-floating mb-3 d-block">
                                    <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                    <label for="phone">Phone number</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                                </div>
                                <div class="form-floating mb-3 d-block">
                                    <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                    <label for="message">Message</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                                </div>
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        We will be in touch soon
                                    </div>
                                </div>
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <div class="d-grid">
                                    <button class="btn btn-outline-dark btn-lg mb-5" id="submitButton" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
