@{
    ViewBag.Title = "Home Page";
}
<!-- Modal -->
<header class="bg-dark py-5">
    @Html.Partial("Partial/_AccountInfoPartial")
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Hi There!</h1>
                    <p class="lead fw-normal text-white-50 mb-4">My name is Andrei, and I like video games and programming. I don't know yet what this website will hold but I am exploring new ideas and placing them here.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#!">Programming Experience</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Video Games</a>
                    </div>
                </div>
                <div class="card bg-light rounded-3 bg-opacity-25">
                    <div class="card-header bg-light rounded-3 bg-opacity-50 fw-bolder text-center">Usernames and Passwords</div>
                    <div class="card-body">
                        <div class="row justify-content-center">

                            <div role="button" class="col-5 card mx-1 my-2 fw-bolder text-danger text-center bg-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="InformationModal('SA')">Super Admin</div>
                            <div role="button" class="col-5 card mx-1 my-2 fw-bolder text-warning text-center bg-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="InformationModal('A')">Admin</div>
                            <div role="button" class="col-5 card mx-1 my-2 fw-bolder text-primary text-center bg-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="InformationModal('SU')" >Super User</div>
                            <div role="button" class="col-5 card mx-1 my-2 fw-bolder text-white-50 text-center bg-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="InformationModal('U')" >User</div>
                            @*move this*@
                            <script>
                                function InformationModal(role) {
                                    switch (role) {
                                        case "SA":
                                            document.getElementById("modalBody").innerHTML = "<p>Ask Andrei</p>";
                                            break;
                                        case "A":
                                            document.getElementById("modalBody").innerHTML = "<p>Ask Andrei</p>";
                                            break;
                                        case "SU":
                                            document.getElementById("modalBody").innerHTML = "<p>Ask Andrei</p>";
                                            break;
                                        default:
                                            document.getElementById("modalBody").innerHTML = "<p>username: Basic</p> <p>password: User</p>";
                                    }
                                }
                            </script>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-block d-xl-block text-center img-fluid rounded-3">@Html.Partial("Partial/_ModelPartial")</div>
        </div>
    </div>
</header>

@Html.Partial("_WorkInProgress")
<!--<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Personal Projects.</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h5">Snowmire</h2>
                        <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h5">Featured title</h2>
                        <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Featured title</h2>
                        <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                    </div>
                    <div class="col h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Featured title</h2>
                        <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-flex flex-row justify-content-center justify-content-md-start justify-content-sm-start justify-content-lg-around">
    <div class="my-5 mx-5 col-md-6 ">-->
@*@Html.Partial("Partial/_ModelPartial")*@
<!--</div>-->
@*<div class=" text-light btn btn-close" id="RestoreModal"></div>*@

@*//TODO add snowmire logo and finish restore modal button*@
<!--<div class="d-none d-lg-block card my-5 col-md-5 align-self-md-start" id="NewModal">
        <div class="card-header text-center">
            <div class="float-end text-light btn btn-close" id="button"></div>
            <h1>Hi!</h1>
        </div>
        <div class="card-body bg-dark text-light fw-bolder col-xs-1">
            <h3>
                My name is Andrei, nice to meet you I like cats, I like programming, and most of all, video games,
                so where could that bring me? Here obviously!<br />
                I want to test what I can achieve with all this knowledge,
                so this site is and will be in continuous development as I get new ideas.
            </h3>
        </div>
    </div>
</div>

<div class="justify-content-center row my-5 mx-5">
    <div class="d-lg-none card col-8 col-sm-6 col-md-7 justify-content-center p-0">
        <div class="card-header text-center">
            <h1>Hi!</h1>
        </div>
        <div class="card-body bg-dark text-center text-light fw-bolder col-xs-1">
            This is a test <br />
            I will note very interesting <br />
            stuff here. <br />
            And more importantly: <br />
            <p class="text-danger fw-bolder">PRETTY STUFF</p> <br />
            So hang on for a bit <br />
            And I will get back to you ❤️<br />
        </div>
    </div>
</div>
<script>
    $('#button').click(function () {
        localStorage.setItem('hadModal', true);
        $('#NewModal').addClass('invisible');
        //$('#RestoreModal').RemoveClass('invisible');
    });
    $(document).ready(function () {
        // Check if user saw the modal
        var key = 'hadModal';
        hadModal = localStorage.getItem(key);

        // Show the modal only if new user
        if (hadModal) {
            $('#NewModal').addClass('invisible');
            //    $('#RestoreModal').RemoveClass('invisible');
        }

        // If modal is displayed, store that in localStorage
        $('#NewModal').on('shown.bs.modal', function () {
            localStorage.setItem(key, true);
        })
    });
</script>-->
